.wrapper {
  display: flex;
  flex-flow: row wrap;
  overflow: visible;
  justify-content: space-between;
  align-content: space-between;
}
.wrapper{
  width:100%;
}

.col-md-3{
  display:inline-block;
}
.mx-auto{
  margin: 0px auto;
}
.py-3{
  padding: 8px 0px;
}
.float-l{
  float:left;
}
.float-r{
  float:right;
}

.row{
  display:block;
  width: 100%;
}